@import 'normalize';
@import 'Typography';
@import 'nav';
body{
  background-color: #D3D3D3;
}

/*
Base Responsive Styling
 */
 /*The following 7 lines are from Paul Irish and apply a border-box model.
 See this page for more info: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
 /* apply a natural box layout model to all elements, but allowing components to change */
 html {
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 /* Basic Responsive Images and Video */
 img,video{
   width: auto;
   height: auto;
   max-width: 100%;
 }
p.v {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align:right;
  text-orientation: sideways;
  margin: 1rem;
}

p{
  font-family: sans-serif;
  font-size:2rem;
}

body{
  display:flex;
}
